* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #fcfc34;
}


.page-header {
    display: grid;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #444;
    position: fixed;
    top: 0;

}

.page-header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    padding: 8px 16px;
    /* background-color: #aaa; */

    color: #e8e802;
    font-weight: bold;
}







.page-main {
    height: calc(100vh - 50px);
    height: 100vh;
    padding-top: 50px;
    background-color: lightyellow;

    height: 100%;
    padding-bottom: 80px;
}
.page-main .top {
    display: grid;
    justify-content: center;
    padding-top: 30px
}
.page-main h1 {
    font-size: 24px;
    margin-bottom: 4px;
}

.page-main .slogan {
    font-size: 20px;
    font-style: italic;
}

.display {
    display: grid;
}



.card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 420px auto;
    align-items: stretch;
    width: 100%;
    height: 570px;
    min-width: 280px;
    max-width: 60%;
    margin-block: 50px 80px;
    margin-inline: auto;
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    height: 400px;
    margin-block: 26px;

    margin: 0;
    margin-inline: auto;
    padding-block: 10px;
}
  
.card .card-content {
    display: grid;
    padding-inline: 16px;
    padding-block: 2px 8px;
    background-color: black;
    color: whitesmoke;   
}

.card h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-block: 8px;
}

.card p {
    padding-block: 4px;
}
.card p:last-of-type {  /* Se more link */
    display: flex;
    justify-content: flex-end;
}

.card p:last-of-type a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
    color: yellow;
    color: #f5f57c;
}
.card p:last-of-type a:hover {
    color: yellow;
}

.card p:last-of-type a i {
    margin-left: 8px;
    font-size: 8px;
}

.card h5 {
    padding-bottom: 2px;
    font-weight: normal;
    border-bottom: 1px solid whitesmoke;
}

.card div.spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display button {
    width: max-content;
    margin-inline: auto;
    padding: 8px 16px;
    font-style: italic;
    font-weight: bold;
    background: #f4f468;
    border: 2px solid #f2f22e;
    border-radius: 9px;
    box-shadow: 2px 2px 4px #aaa;
}

.display button:hover {
    background-color: #ecec26;
    cursor: pointer;
}




@media screen and (min-width: 900px) {
    .page-header {
        height: 70px;
    }

    .page-header .nav {
        padding-inline: 40px;
    }

    .page-header nav a {
        font-weight: bold;
        font-size: 24px;
    }

    .page-main {
        padding-top: 70px;
    }
    .page-main h1 {
        font-size: 40px;
    }

    .page-main .slogan {
        font-size: 30px;
    }


    .card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        height: auto;
        padding-block: 20px;
    }

    .card .card-content {
        background: transparent;
        color: black;
    }

    .card p:last-of-type a {
        margin-top: 10px;
        color: #222;
        font-weight: normal;
        font-style: italic;
        text-shadow: 0px 0 4px #FFA700;
    }

    .card p:last-of-type a:hover {
        color: #222;
        /* text-shadow: 0px 0px 4px #F7D624; */
    }
}