* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #fcfc34;
}


.page-header {
    display: grid;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #444;
    position: fixed;
    top: 0;
}

.page-header .nav {

    width: 100%;
    max-width: 1000px;
    height: 100%;

    margin-inline: auto;
    padding-inline: 16px;
    padding-block: 8px;

    color: #e8e802;
    font-weight: bold;



    display: grid;
    grid-template-columns: auto 40px 40px;
    grid-template-columns: max-content auto max-content max-content;
    align-items: center;
    column-gap: 16px;
}

.page-header .nav div {
    padding: 4px;
    /* background-color: red; */
}

.page-header .nav div:hover {
    cursor: pointer;
}

.page-main {
    height: calc(100vh - 50px);
    height: 100vh;
    height: max-content;
    min-height: 100vh;
    padding-top: 50px;
    background-color: lightyellow;
    padding-bottom: 80px;
}
.page-main .top {
    display: grid;
    justify-content: center;
    padding-top: 30px
}
.page-main h1 {
    font-size: 24px;
    margin-bottom: 4px;
}

.page-main .slogan {
    font-size: 20px;
    font-style: italic;
}

.display {
    display: grid;
}

#product {
    display: none;
}

.product {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 420px auto;
    align-items: stretch;
    width: 100%;
    height: max-content;
    min-height: 570px;
    min-width: 280px;
    max-width: 60%;
    margin-block: 50px 0px;
    margin-inline: auto;
    padding-top: 20px;
    background-color: #fff;
}

.product {
    height: max-content;
    min-height: 640px;
    box-shadow: none;
    border: 1px solid #ddd;
}

.product.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.product.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product img {
    height: 400px;
    margin-block: 26px;

    margin: 0;
    margin-inline: auto;
    padding-block: 10px;
}
  
.product .card-content {
    display: grid;
    padding-inline: 16px;
    padding-block: 2px 8px;
    background-color: black;
    color: whitesmoke;   
}

.product h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-block: 8px;
}

.product p {
    padding-block: 4px;
}

.product p:last-of-type {  /* Se more link */
    display: flex;
    justify-content: flex-end;
}

.product p:last-of-type a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
    color: yellow;
    color: #f5f57c;
}

.product p:last-of-type a:hover {
    color: yellow;
}

.product p:last-of-type a i {
    margin-left: 8px;
    font-size: 8px;
}

.product p {
    padding-block: 16px;
}

.product .list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 10px;
    /* background-color: #444; */
}

.product .list .label {
    color: lightyellow;
    border-bottom: 1px solid lightyellow;
    margin-bottom: 2px;

    border-bottom: 1px solid #aaa;
    color: #ddd;
}

.product h5 {
    padding-bottom: 2px;
    font-weight: normal;
    border-bottom: 1px solid whitesmoke;
}

.product div.spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display button {
    width: max-content;
    margin-inline: auto;
    
    padding: 8px 16px;
    font-style: italic;
    font-weight: bold;
    background: #f4f468;
    border: 2px solid #f2f22e;
    border-radius: 9px;
    box-shadow: 2px 2px 4px #aaa;
}

.display button.get-random {
    margin-top: 60px;
}

.display button:hover {
    background-color: #ecec26;
    cursor: pointer;
}

/*#####################################*/
#search {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 80%;
    max-width: 720px;
    height: 100%;
    margin-inline: auto;

    display: none;
    /* background-color: #aaa; */
}

#data {
    /* background-color: #faa; */
    display: none;
}

#search.show,
#product.show,
#data.show {
    display: grid;
}

#search h1 {
    text-align: center;
}

#search .form-container {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: auto;
    margin-top: 30px;
}

#search .form-container input {
    width: 100%;
    padding: 4px 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #c3c303;
}

#search .form-container input:focus {
    /* border: 1px solid #c3c303; */
    outline: 1px solid transparent;
    border: 1px solid #444;
}

#search .form-container button {
    background-color: yellow;
    border: 0px solid yellow;

    background: #f4f402;
    border: 1px solid #dbdb02;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 100%;
    box-shadow: unset;
}

#search .search-results {
    display: block;
    min-height: 500px;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

#search .search-results .link {
    margin-bottom: 16px;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #f4f402;
    border: 1px solid transparent;
    border-radius: 7px;
    color: #222;
}

#search .search-results .link:hover,
#search .search-results .link.active {
    cursor: pointer;
    background-color: #dada05;
    border: 1px solid #848400;
}

#search .search-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    margin-top: 8px;
    padding-block: 8px;
    color: #aaa;
}

#search .search-navigation.active {
    color: #222;
}

#search .search-navigation .pager {
    width: 30px;
    text-align: center;
    /* background: #aaa; */
}
#search .search-navigation .pager:hover {
    cursor: pointer;
}

#search .search-navigation .pager.nbr {
    font-weight: bold;
    cursor: default;
}

#search .search-navigation .pager.inactive {
    color: #aaa;
}
#search .search-navigation .pager.inactive:hover {
    cursor: default;
}


/*#####################################*/
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid yellow;  /* #3498db */
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: none;
  }

  .loader.active {
    display: block;
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/*#####################################*/
@media screen and (min-width: 900px) {
    .page-header {
        height: 70px;
    }

    .page-header .nav {
        padding-inline: 40px;
    }

    .page-header nav a {
        font-weight: bold;
        font-size: 24px;
    }

    .page-main {
        padding-top: 70px;
    }
    .page-main h1 {
        font-size: 40px;
    }

    .page-main .slogan {
        font-size: 30px;
    }

    .product.card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        height: auto;
        min-height: 570px;
        padding-block: 20px;
        max-width: 920px;
    }
    
    .product img {
        height: 700px;
    }

    .product .card-content {
        background: transparent;
        color: black;
    }

    .product p:last-of-type a {
        margin-top: 10px;
        color: #222;
        font-weight: normal;
        font-style: italic;
        text-shadow: 0px 0 4px #FFA700;
    }

    .product p:last-of-type a:hover {
        color: #222;
        /* text-shadow: 0px 0px 4px #F7D624; */
    }

    .product .list {
        row-gap: 16px;
    }

    .product .list .label {
        color: #222;
    }


    #search .search-results .link {
        margin-bottom: 24px;
        padding-block: 12px;
    }
}